body {
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 500;
}

.card {
  padding: 1em;
}

.userBox {
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px
}

.item {
  padding: 20px;
  flex: 1 1 29%;
  max-width: 29%;
  height: auto;
}

.giant {
  font-size: 15em
}